In [63]:
# Import the cleaned data set
import pandas as pd

file_path = '../data/cleaned_data.csv'
data = pd.read_csv(file_path)
data.head()

,id,stage,accuracy,completeness,innovation,difficulty,n_user_messages,n_internet_resources,time_to_complete_sec,cohort,assignment,llm_experience
0,0,ideation,7,2,1,6.0,0.0,23.0,2075.0,expert,llm_internet,Used a few times
1,0,acquisition,8,6,0,4.0,0.0,22.0,3175.0,expert,llm_internet,Used a few times
2,0,magnification,4,3,0,6.0,0.0,17.0,2158.0,expert,llm_internet,Used a few times
3,0,formulation,3,2,0,2.0,0.0,5.0,1151.0,expert,llm_internet,Used a few times
4,0,release,6,2,0,5.0,0.0,23.0,1816.0,expert,llm_internet,Used a few times

In [209]:
# Import the necessary libraries
from scipy.stats import ttest_ind, t
import matplotlib.pyplot as plt
import numpy as np

In [224]:
# Define statistical analysis helper functions
# These actually perform the statistical tests

def compare_performance(data, metric, group_by='assignment', compare_groups=('llm_internet', 'internet_only')):
    # Split the data into groups
    group1 = data[data[group_by] == compare_groups[0]][metric]
    group2 = data[data[group_by] == compare_groups[1]][metric]
    
    # Calculate mean values and sample variances 
    mean1, mean2 = group1.mean(), group2.mean()

    # Perform t-test (Welch's). We don't need a distribution of t-values because we're directly getting the p_value
    t_stat, p_value = ttest_ind(group1, group2, nan_policy='omit', equal_var=False)
    
    return {
        'mean_with_llms': mean1,
        'mean_without_llms': mean2,
        't_stat': abs(t_stat),
        'p_value': p_value,
        'significant': p_value < 0.05 
    }

In [214]:
# Define statistical analysis main functions
# TODO: understand how I would adapt this function to a different dataset

def compare_performance_across_multiple_segments(data, metrics, group_by='assignment', compare_groups=None, segment_dimensions=None):
    """
    Compare performance across multiple metrics, allowing flexible segmentation along specified dimensions.
    """
    results = []
    
    # Generate a list of unique segment combinations if multiple segment dimensions are specified
    if segment_dimensions and len(segment_dimensions) > 1:
        segment_combinations = data.groupby(segment_dimensions).size().reset_index()[segment_dimensions].values.tolist()
    else:
        segment_combinations = [(segment,) for segment in data[segment_dimensions[0]].unique()] if segment_dimensions else [None]
    
    for segment in segment_combinations:
        # Filter data for the current combination of segments
        if segment[0] is not None:
            segment_data = data.copy()
            for dim, val in zip(segment_dimensions, segment):
                segment_data = segment_data[segment_data[dim] == val]
        else:
            segment_data = data
        
        # Automatically determine comparison groups if not specified
        if compare_groups is None:
            compare_groups = segment_data[group_by].unique()
        
        for metric in metrics:
            if len(compare_groups) >= 2:
                # Perform comparison using the first two groups
                comparison_result = compare_performance(segment_data, metric, group_by, compare_groups[:2])
                
                # Construct result entry
                result_entry = {
                    'Metric': metric,
                    **comparison_result
                }
                for dim, val in zip(segment_dimensions, segment):
                    result_entry[dim] = val  # Add segment dimension(s) to result
                
                results.append(result_entry)
    
    return pd.DataFrame(results)

In [212]:
data.shape

# TODO: why do my result tables have so few rows?

(500, 12)

# Accuracy

In [225]:
# Segmenting by stage
metrics_to_compare = ['accuracy']
segment_dimensions = ['cohort', 'stage']  

accuracy_comparison_results = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [226]:
styled_table = accuracy_comparison_results.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

In [240]:
# Segmenting by llm experience
metrics_to_compare = ['accuracy']
segment_dimensions = ['cohort', 'llm_experience']  

accuracy_comparison_results_exp = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [241]:
styled_table = accuracy_comparison_results_exp.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

#### Interpreting Our Findings
To interpret the implications of the t-stats (which have no meaning in-of themselves), we need to look at the distributions or grab the p-value. If the p-value is high (>0.05), then regardless of the what the t-value suggests, we do not have statistically significant results. 

A higher t-statistic with a low p-value indicates a statistically significant higher mean for the first group.

In our case:
- Expert accuracy in the formulation and magnification stages were positively impacted
- No other statistically significant findings related to stage
- No other statiscially significant findings related to previous experience

# Completeness

In [227]:
metrics_to_compare = ['completeness']
segment_dimensions = ['cohort', 'stage']  

completeness_comparison_results = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [228]:
styled_table = completeness_comparison_results.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

In [242]:
# Segmenting by llm experience
metrics_to_compare = ['completeness']
segment_dimensions = ['cohort', 'llm_experience']  

completeness_comparison_results_exp = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [243]:
styled_table = completeness_comparison_results_exp.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

#### Interpreting Our Findings
Our findings:
- Expert completeness in the formulation stage was positively impacted
- No other statistically significant findings related to stage
- For experts who never used an LLM, or have only used a few times, completeness was impacted
- For students who use at least every few weeks, completeness was impacted

# Innovation

In [229]:
metrics_to_compare = ['innovation']
segment_dimensions = ['cohort', 'stage']  

innovation_comparison_results = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [230]:
styled_table = innovation_comparison_results.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

In [244]:
# Segmenting by llm experience
metrics_to_compare = ['innovation']
segment_dimensions = ['cohort', 'llm_experience']  

innovation_comparison_results_exp = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [245]:
styled_table = innovation_comparison_results_exp.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

#### Interpreting Our Findings
Our findings:
- No statistically significant findings

# Difficulty

In [231]:
metrics_to_compare = ['difficulty']
segment_dimensions = ['cohort', 'stage']  

difficulty_comparison_results = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [232]:
styled_table = difficulty_comparison_results.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

In [246]:
# Segmenting by llm experience
metrics_to_compare = ['difficulty']
segment_dimensions = ['cohort', 'llm_experience']  

difficulty_comparison_results_exp = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [247]:
styled_table = difficulty_comparison_results_exp.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

#### Interpreting Our Findings
Our findings:
- Student perception of difficulty in the formulation stage was reduced
- No other statistically significant findings with respect to stage
- Student perception of difficulty was impacted especially if they used almost every day, or at least every few weeks -- this is interesting!

# Time Taken

In [233]:
metrics_to_compare = ['time_to_complete_sec']
segment_dimensions = ['cohort', 'stage']  

time_to_complete_comparison_results = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [234]:
styled_table = time_to_complete_comparison_results.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

In [248]:
# Segmenting by llm experience
metrics_to_compare = ['time_to_complete_sec']
segment_dimensions = ['cohort', 'llm_experience']  

time_comparison_results_exp = compare_performance_across_multiple_segments(
    data=data,
    metrics=metrics_to_compare,
    group_by='assignment',
    segment_dimensions=segment_dimensions
)

In [249]:
styled_table = time_comparison_results_exp.style.apply(
    lambda x: ['background-color: lightblue' if v else '' for v in x], 
    subset=['significant']
)
styled_table

#### Interpreting Our Findings
Our findings:
- Student time to complete in the ideation stage was increased (???)
- No other statistically significant findings with respect to stage or LLM experience